<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrainingCenterProject"
        tools:targetApi="31" >
        <activity android:name=".SignUpActivity"/>
        <activity android:name=".AdminSignUpActivity"/>
        <activity android:name=".TraineeSignUpActivity"/>
        <activity android:name=".InstructorSignUpActivity"/>
        <activity android:name=".AdminListActivity"/>
        <activity android:name=".TraineeListActivity"/>
        <activity android:name=".InstructorListActivity"/>
        <activity android:name=".AdminDashboardActivity"/>
        <activity android:name=".CourseListActivity"/>
        <activity android:name=".DeleteCourseActivity"/>
        <activity android:name=".EditCourseActivity"/>
        <activity android:name=".CourseTraineeListActivity"/>
        <activity android:name=".PendingCoursesActivity"/>
        <activity android:name=".MakeCourseAvailableActivity"/>
        <activity android:name=".ViewAllActivity" />
        <activity
            android:name=".AddInstructorActivity"
            android:exported="false" />
        <activity
            android:name=".AddTraineeActivity"
            android:exported="false" />
        <activity
            android:name=".AddAdminActivity"
            android:exported="false" />
        <activity
            android:name=".AddCourseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>